SECRET_KEY=changeme
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=changeme
DB_USER=changeme
DB_PASSWORD=changeme
DB_HOST=changeme
DB_PORT=5432

ACCESS_TOKEN_LIFETIME_MIN=60
REFRESH_TOKEN_LIFETIME_DAYS=7

# For local dev, seed product images from your running Django media server:
PRODUCT_MEDIA_BASE_URL=http://localhost:8000/media/products/

CORS_ALLOWED_ORIGINS=http://localhost:3000
